html {
	box-sizing: border-box;
}

body {
	background-color: #787b82;
	
}

label {
font-weight: bold;

}

.left-align { 
text-align: left;
float: left;
padding-left: 25px;
}

.right-align {
	text-align: right;
	float: right;
	padding-right: 25px;
	
}

#container {

}

#header {
	background-color: #33A1FF;
	text-align: center;
	padding-bottom: 30px;
	
}

a{
	text-decoration: underline;
	color: black;
}

.selected{
	font-weight: bold;
}

#content {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	border: 2px solid black;
	background-color: #33A1FF;
	text-align: center;
}

#footer {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	background-color: #33A1FF;
	text-align: center;
	
}



