<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.medconnect">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SelectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PatientActivity" />
        <activity android:name=".DoctorActivity" />
        <activity android:name=".OrganizationActivity" />
        <activity
            android:name=".RegisterOrganizationActivity"
            android:parentActivityName=".LoginOrganizationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginOrganizationActivity" />
        </activity>
        <activity
            android:name=".Add_Event_Activity"
            android:parentActivityName=".OrganizationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OrganizationActivity" />
        </activity>
        <activity
            android:name=".RegisterPatientActivity"
            android:parentActivityName=".LoginPatientActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginPatientActivity" />
        </activity>
        <activity
            android:name=".RegisterDoctorActivity"
            android:parentActivityName=".LoginDoctorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginDoctorActivity" />
        </activity>
        <activity
            android:name=".LoginDoctorActivity"
            android:parentActivityName=".SelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectionActivity" />
        </activity>
        <activity
            android:name=".LoginPatientActivity"
            android:parentActivityName=".SelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectionActivity" />
        </activity>
        <activity
            android:name=".LoginOrganizationActivity"
            android:parentActivityName=".SelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectionActivity" />
        </activity>
        <activity
            android:name=".PatientProfileActivity"
            android:parentActivityName=".PatientActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PatientActivity" />
        </activity>
        <activity
            android:name=".DoctorProfileActivity"
            android:parentActivityName=".DoctorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DoctorActivity" />
        </activity>
        <activity
            android:name=".OrganizationProfileActivity"
            android:parentActivityName=".OrganizationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OrganizationActivity" />
        </activity>
        <activity
            android:name=".PatientProfileEditActivity"
            android:parentActivityName=".PatientProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PatientProfileActivity" />
        </activity>
        <activity
            android:name=".DoctorProfileEditActivity"
            android:parentActivityName=".DoctorProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DoctorProfileActivity" />
        </activity>
        <activity android:name=".OrganizationProfileEditActivity">
            android:parentActivityName=".OrganizationProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OrganizationProfileActivity" />
        </activity>
        <activity
            android:name=".EventsListActivity"
            android:parentActivityName=".OrganizationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OrganizationActivity" />
        </activity>
        <activity
            android:name=".add_survey"
            android:parentActivityName=".DoctorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DoctorActivity" />
        </activity>
        <activity
            android:name=".MyEventsActivity"
            android:parentActivityName=".OrganizationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OrganizationActivity" />
        </activity>
        <activity
            android:name=".MySurveysDoctorActivity"
            android:parentActivityName=".DoctorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DoctorActivity" />
        </activity>
        <activity
            android:name=".MyEventsUpdateActivity"
            android:parentActivityName=".MyEventsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyEventsActivity" />
            />
        </activity>
        <activity
            android:name=".PatientEventsActivity"
            android:parentActivityName=".PatientActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PatientActivity" />
        </activity>
        <activity
            android:name=".Patient_Surveys"
            android:parentActivityName=".PatientActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PatientActivity" />
        </activity>
        <activity
            android:name=".TakeSurvey"
            android:parentActivityName=".Patient_Surveys">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Patient_Surveys" />
        </activity>
        <activity
            android:name=".MySurveysDoctorUpdate"
            android:parentActivityName=".MySurveysDoctorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MySurveysDoctorActivity" />
        </activity>
        <activity
            android:name=".PatientRegisteredEventsActivity"
            android:parentActivityName=".PatientActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PatientActivity" />
        </activity>
        <activity android:name=".DoctorViewAnswersActivity"
            android:parentActivityName=".MySurveysDoctorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MySurveysDoctorActivity" />
        </activity>
    </application>

</manifest>